* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    width: 240px;
    margin: 20px auto;
}

table {
    width: 480px;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}

caption, th, td {
    padding: 5px;
    border: 1px solid black;
}

caption {
    background-color: red;
    color: white;
    font-weight: bold;
    font-style: italic;
}

th {
    background-color: black;
    color: white;
}
